<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div>
  <form th:action="@{/admin/addUser}" method="GET">
    <button type="submit">Add user</button>
  </form>
  <br/>
  <br/>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Roles</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
    <tr th:each="user : ${users}">
      <td th:utext="${user.id}"></td>
      <td th:utext="${user.username}"></td>
      <td th:utext="${user.firstName}"></td>
      <td th:utext="${user.lastName}"></td>
      <td th:utext="${user.age}"></td>
      <td th:text="${#strings.substring(user.roles, 1, #strings.length(user.roles) - 1)}"></td>
      <td>
        <form th:action="@{/admin/deleteUser}" th:object="${user}" th:method="DELETE">
          <input type="hidden" name="id" th:value="${user.id}">
          <button type="submit">Delete</button>
        </form>
      </td>
      <td>
        <form th:action="@{/admin/editUser}" th:object="${user}" method="GET">
          <input type="hidden" name="id" th:value="${user.id}">
          <button type="submit">Edit</button>
        </form>
      </td>
    </tr>
  </table>
  <br/>
  <form th:action="@{/logout}" method="POST">
    <button type="submit">Logout</button>
  </form>
</div>
</body>
</html>